@import 'page1.scss';
@import 'page2.scss';
@import 'page3.scss';
@import 'page4.scss';
@import 'pop-up.scss';

body {
  overflow-x: hidden;
}


// INPUT CONTAINER COLUMN
.container-column {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 100%;
  .input-title {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

// INPUT PRIMARY OUTLINE
input {
  width: 80%;
  height: 55px;
  border: 2px solid #009F80;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
  &:hover {
    border-color: #00CCA4;
    &::placeholder {
      color: #00CCA4;
      transition: 1s;
    }
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #009F80;
    font-size: 22px;
    font-weight: 600;
    text-indent: 55px;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

// HR GREEN SECTION DEVIDER
hr {
  width: 100%;
  border: 1px solid #009F80;
  opacity: 1;
  background-color: #009F80;
}

// HEADING PRIMARY SECTION DEVIDER
.heading {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #009F80;
  opacity: 0.9;
  align-self: flex-start;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

// BUTTON PRIMARY FILLED
.btn-primary-filled {
  width: 100%;
  height: 55px;
  background: #009F80 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor:pointer;
  transition: 1s;
  margin-left: 0;
  &:hover {
    outline: none;
    background-color: #00CCA4;
    border: none;
  }
  &:focus {
    outline: none;
  }
}

// COMPANY-CARDS-CONTAINER
.company-cards-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  // border: 2px solid red;
  @media screen and (max-width: 1100px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
  }
  .row-container {
    display: flex;
    flex-direction: column;
  }
  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    .img-wrapper {
      width: 50px;
      height: 50px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 6px 9px #00000029;
      border: 1px solid #009F80;
      opacity: 0.5;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
    img {
      width: 30px;
      height: auto;
      @media screen and (max-width: 768px) {
        width: 25px;
      }
    }

    span {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // border: 2px solid green;
    margin-left: 0;
  }
}

// COMPANY CARDS
.company-cards {
  width: 15%;
  height: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 9px #00000029;
  border: 2px solid #009F80;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  img {
    width: 45%;
    height: auto;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      width: 40%;
      margin-top: 15px;
    }
  }
  span {
    text-transform: uppercase;
    color: #009F80;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 11px;
    }
  }
  &:hover {
    background-color: #009F80;
    span {
      color: white;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    height: 15vh;
  }
  @media screen and (max-width: 768px) {
    height: 12vh;
    width: 18%;
  }
  @media screen and (max-width: 550px) {
    width: 30%;
    height: 12vh;
    margin-bottom: 40px;
    border-radius: 10px;
  }
}





// PRIMARY OUTLINE INPUT 
.primary-outline-input {
  border: 2px solid #009F80;
  opacity: 1;
  width: 75%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: white;
  text-indent: 10px;
  &::placeholder {
    font-size: 18px;
    color: #009F80;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    text-indent: 10px;
  }
}
.primary-outline-input2 {
  border: 2px solid #009F80;
  opacity: 1;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  background-color: white;
  text-indent: 10px;
  &::placeholder {
    font-size: 18px;
    color: #009F80;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    text-indent: 150px;
  }
}



// BUTTON OUTLINE 
button, .button-primary-outline {
  opacity: 1;
  width: 30%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #FF685D;
  margin-top: 30px;
  h1 {
    font-size: 18px;
    color: #FF685D;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
  }
  &:focus {
    outline: none;
    background-color: white;
  }
  &:hover {
    border-color: #FE0F12;
    background-color: white;
    h1 {
      color: #FE0F12;
    }
  }
  @media screen and (max-width: 768px) {
    width: 50%;
  }
  @media screen and (max-width: 550px)  {
    width: 80%;
  }
}
