body {
  // box-sizing: border-box;
  overflow-x: hidden;
}

// HEADER 
.header {
  width: 100vw;
  height: 65vh;
  background-image: url('../assets/images/banking-img.jpg');
  background-position: center;
  background-size: cover;
  @media screen and (min-width: 1300px) {
    height: 40vh;
  }
  @media screen and (max-width: 991px) {
    height: 40vh;
  }
  @media screen and (max-width: 768px) {
    height: 30vh;
  }
  .transparent {
    width: 100%;
    height: 100%;
    background-color: #009f7f8c;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading-title {
    text-align: center;
    font-size: 62px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    @media screen and (max-width: 991px) {
      font-size: 42px;
      font-weight: 500;
    }
    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
    @media screen and (max-width: 550px) {
      font-size: 25px;
    }
  }
  .header-content {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .account-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    span {
      text-align: center;
      font-size: 22px;
      letter-spacing: 0px;
      font-weight: 700;
      margin-bottom: 15px;
      color: #FFFFFF;
      opacity: 1;
      @media screen and (max-width: 991px) {
        font-size: 20px;
        margin-bottom: 12px;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
      @media screen and (max-width: 550px) {
        font-size: 14px;
      }
    }
    .account {
      width: 300px;
      height: 70px;
      background: #F5C02C 0% 0% no-repeat padding-box;
      border-radius: 10px;
      opacity: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;
      h1 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        @media screen and (max-width: 991px) {
          font-size: 20px;
        }
        @media screen and (max-width: 768px) {
          font-size: 17px;
        }
        @media screen and (max-width: 550px) {
          font-size: 13px;
        }
      }
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        @media screen and (max-width: 991px) {
          width: 30px;
          height: 30px;
          margin-right: 15px;
          margin-left: 15px;
        }
        @media screen and (max-width: 768px) {
          width: 25px;
          height: 25px;
          margin-right: 10px;
          margin-left: 15px;
        }
        @media screen and (max-width: 550px) {
          width: 20px;
          height: 20px;
          margin-right: 7px;
          margin-left: 10px;
        }
      }
      @media screen and (max-width: 991px) {
        width: 250px;
        height: 60px;
        border-radius: 8px;
      }
      @media screen and (max-width: 768px) {
        width: 200px;
        height: 55px;
        border-radius: 7px;
      }
      @media screen and (max-width: 550px) {
        width: 150px;
        height: 40px;
        border-radius: 5px;
        margin-right: 7px;
      }
    }
    .account2 {
      width: 300px;
      height: 70px;
      background: #FF6466 0% 0% no-repeat padding-box;
      border-radius: 10px;
      opacity: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 20px;
      h1 {
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        @media screen and (max-width: 991px) {
          font-size: 20px;
        }
        @media screen and (max-width: 768px) {
          font-size: 17px;
        }
        @media screen and (max-width: 550px) {
          font-size: 13px;
        }
      }
      img {
        width: 40px;
        height: 40px;
        margin-left: 20px;
        margin-right: 20px;
        @media screen and (max-width: 991px) {
          width: 30px;
          height: 30px;
          margin-right: 15px;
          margin-left: 15px;
        }
        @media screen and (max-width: 768px) {
          width: 25px;
          height: 25px;
          margin-right: 10px;
          margin-left: 15px;
        }
        @media screen and (max-width: 550px) {
          width: 20px;
          height: 20px;
          margin-right: 7px;
          margin-left: 10px;
        }
      }
      @media screen and (max-width: 991px) {
        width: 250px;
        height: 60px;
        border-radius: 8px;
      }
      @media screen and (max-width: 768px) {
        width: 200px;
        height: 55px;
        border-radius: 7px;
      }
      @media screen and (max-width: 550px) {
        width: 150px;
        height: 40px;
        border-radius: 5px;
        margin-left: 7px;
      }
    }
  }
}

// HOMEPAGE SECTION1
.homepage-section-one {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1500px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: 1100px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    // border: 2px solid blue;
    @media screen and (min-width: 1500px) {
      width: 70%;
    }
    .image-wrapper {
      width: 50%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      // border: 2px solid green;
      @media screen and (max-width: 1100px) {
        width: 45%;
      }
      @media screen and (max-width: 991px) {
        width: 40%;
      }
      @media screen and (max-width: 550px) {
        display: none;
      }
      // border: 2px solid red;
      .letters {
        display: flex;
        flex-direction: column;
        justify-self: flex-start;
        span {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: #009F80;
          margin-left: 20px;
          margin-bottom: 3px;
          @media screen and (max-width: 768px) {
            font-size: 14px;
          }
        }
      }
      img {
        width: 35%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width: 768px) {
          width: 50%;
        }
      }
    }
    form {
      width: 40%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      // border: 2px solid red;
      @media screen and (min-width: 1500px) {
        width: 25vw;
      }
      @media screen and (max-width: 1100px) {
        width: 45%;
      }
      @media screen and (max-width: 991px) {
        width: 50%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
      }
      .input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        // border: 3px solid black;
        select {
          width: 20%;
          height: 55px;
          border: 2px solid #009F80;
          border-radius: 5px;
          margin-right: 15px;
          transition: 1s;
          text-indent: 10px;
          color: #009F80;
          padding-right: 5px;
          &:hover {
            border-color: #00CCA4;
          }
          &:focus {
            outline: none;
          }
          option {
            color: #009F80;
            text-indent: 20px;
          }
          &::placeholder {
            color: #009F80;
            text-indent: 20px;
          }
        }
      }
    }
  }
}

// INPUT CONTAINER COLUMN
.container-column {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 100%;
  .input-title {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

// INPUT PRIMARY OUTLINE
input {
  width: 80%;
  height: 55px;
  border: 2px solid #009F80;
  border-radius: 5px;
  opacity: 1;
  transition: 1s;
  &:hover {
    border-color: #00CCA4;
    &::placeholder {
      color: #00CCA4;
      transition: 1s;
    }
  }
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #009F80;
    font-size: 22px;
    font-weight: 600;
    text-indent: 55px;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

// HR GREEN SECTION DEVIDER
hr {
  width: 100%;
  border: 1px solid #009F80;
  opacity: 1;
  background-color: #009F80;
}

// HEADING PRIMARY SECTION DEVIDER
.heading {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #009F80;
  opacity: 0.9;
  align-self: flex-start;
  @media screen and (max-width: 768px) {
    font-size: 18px;
  }
}

// BUTTON PRIMARY FILLED
.btn-primary-filled {
  width: 100%;
  height: 55px;
  background: #009F80 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  border: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  cursor:pointer;
  transition: 1s;
  &:hover {
    outline: none;
    background-color: #00CCA4;
  }
  &:focus {
    outline: none;
  }
}

// COMPANY-CARDS-CONTAINER
.company-cards-container {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  // border: 2px solid red;
  @media screen and (max-width: 1100px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
  }
  .row-container {
    display: flex;
    flex-direction: column;
  }
  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;
    .img-wrapper {
      width: 50px;
      height: 50px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 6px 9px #00000029;
      border: 1px solid #009F80;
      opacity: 0.5;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
      }
    }
    img {
      width: 30px;
      height: auto;
      @media screen and (max-width: 768px) {
        width: 25px;
      }
    }

    span {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0px;
      color: #707070;
      opacity: 1;
      margin-left: 20px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
  .row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // border: 2px solid green;
    margin-left: 0;
  }
}

// COMPANY CARDS
.company-cards {
  width: 15%;
  height: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 9px #00000029;
  border: 2px solid #009F80;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  img {
    width: 45%;
    height: auto;
    margin-top: 20px;
    @media screen and (max-width: 768px) {
      width: 40%;
      margin-top: 15px;
    }
  }
  span {
    text-transform: uppercase;
    color: #009F80;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 11px;
      margin-bottom: 10px;
    }
  }
  &:hover {
    background-color: #009F80;
    span {
      color: white;
    }
  }
  @media screen and (max-width: 1200px) {
    height: 10vh;
  }
  @media screen and (max-width: 768px) {
    height: 12vh;
    width: 18%;
  }
  @media screen and (max-width: 550px) {
    width: 30%;
    height: 12vh;
    margin-bottom: 40px;
  }
}


// PAYMENT PAGE SECTION 1
.payment-page-section1 {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;
  @media screen and (min-width: 1500px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: 1100px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .column-page2 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    // border: 2px solid blue;
    @media screen and (min-width: 1500px) {
      width: 70%;
    }
    .row-page2 {
      width: 80%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      @media screen and (max-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
    .row2-page2 {
      width: 80%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      @media screen and (max-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
    .row3-page2 {
      width: 80%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      @media screen and (max-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
    .outline-input-box {
      width: 80%;
      height: 60px;
      border: 2px solid #009F80;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      text-align: center;
      span {
        font-size: 18px;
        font-weight: 600;
        color: #009F80;
        padding: 10px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        height: fit-content;
      }
    }
  }
}

.container-column-page2 {
  display: flex;
  flex-direction: column;
  // border: 2px solid red;
  width: 40%;
  .input-title {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    margin-bottom: 10px;
  }
  @media screen and (max-width: 768px) {
    width: 45%;
  }
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

// BALANCE 
.account-page2 {
  width: 100%;
  height: 55px;
  background: #F5C02C 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  h1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    @media screen and (max-width: 550px) {
      margin-left: 5px;
    }
  }
}


// FILLED INPUT 
.primary-filled-input {
  background: #00CCA4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  h1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }
}


// BUTTON OUTLINE 
button, .button-primary-outline {
  opacity: 1;
  width: 30%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #FF685D;
  margin-top: 30px;
  h1 {
    font-size: 18px;
    color: #FF685D;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    border-color: #FE0F12;
    h1 {
      color: #FE0F12;
    }
  }
  @media screen and (max-width: 768px) {
    width: 50%;
  }
  @media screen and (max-width: 550px)  {
    width: 80%;
  }
}
