// PAYMENT PAGE SECTION 1
.payment-page-section1 {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 0;
  align-items: center;
  justify-content: center;
  // border: 2px solid red;
  @media screen and (min-width: 1500px) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @media screen and (max-width: 1100px) {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media screen and (max-width: 550px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  .column-page2 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;
  }
  .row-page2 {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    // border: 2px solid blue;
    @media screen and (min-width: 1500px) {
      width: 70%;
    }
    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .col-page2 {
      width: 80%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      @media screen and (max-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
    }
    .col2-page2 {
      width: 80%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // border: 2px solid red;
      @media screen and (max-width: 991px) {
        width: 90%;
      }
      @media screen and (max-width: 700px) {
        width: 100%;
      }
      @media screen and (max-width: 550px) {
        display: flex;
        flex-direction: column;
      }
    }
    .outline-input-box {
      width: 80%;
      height: 60px;
      border: 2px solid #009F80;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      text-align: center;
      span {
        font-size: 18px;
        font-weight: 600;
        color: #009F80;
        padding: 10px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        height: fit-content;
      }
    }
  }
}

.container-column-page2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  // border: 2px solid red;
  .input-title {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

// INPUTS

// FILLED INPUT 
.primary-filled-input {
  background: #00CCA4 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 30px;
  h1 {
    font-size: 18px;
    color: white;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
  }
}


.account-balance-page2 {
  width: 40%;
  height: 50%;
  background: #FF8008;
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
  background: linear-gradient(to right, #FFC837, #FF8008);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  // margin-left: 10px;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  @media screen and (max-width: 550px) {
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    justify-self: flex-start;
  }
  h1 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    margin-right: auto;
    @media screen and (max-width: 550px) {
      font-size: 12px;
      margin-left: 5px;
    }
  }
  .account-balance-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
    // border: 2px solid blue;
    margin-bottom: -20px;
    span {
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: auto;
    }
  }
  .account-balance-row2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-evenly;
    padding-left: 15px;
    padding-right: 15px;
    // border: 2px solid black;
    margin-top: -10px;
    span {
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      margin-right: auto;
      @media screen and (max-width: 550px) {
        font-size: 12px;
      }
    }
  }
  .illustration-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;
    // border: 2px solid red;
    img {
      width: 100%;
      height: auto;
    }
  }
}

